<block>
  <name>Symbol demapper</name>
  <key>isdbt_symbol_demapper</key>
  <category>ISDBT</category>
  <import>import isdbt</import>
  <make>isdbt.symbol_demapper($mode, $constellation_size)</make>
  <param>
    <name>Mode</name>
    <key>mode</key>
    <value>3</value>
    <type>int</type>
  </param>
  <param>
    <name>Constellation_size</name>
    <key>constellation_size</key>
    <type>int</type>
  </param>

  <sink>
    <name>in</name>
    <type>complex</type>
    <vlen>13*96*(2**($mode-1))</vlen>
  </sink>
  <source>
    <name>out</name>
    <type>byte</type>
    <vlen>13*96*(2**($mode-1))</vlen>
  </source>
</block>
